# For local development
accelerate
addict
annotated-types
axolotl
bitsandbytes
certifi
charset-normalizer
colorama
fastcore
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
peft
psutil
pydantic_core
pydantic
PyYAML
regex
requests
safetensors
scipy
setuptools
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
